<%= form_remote_tag build_widget_url(:new), :success => "call_success" do %>
    <div class="form_settings">
      <p>
        <span> <%= label_tag :first_name,'First Name' %> </span>
        <%= text_field_tag :first_name, params[:first_name] %>
      </p>
      <p>
        <span> <%= label_tag :last_name, 'Last Name' %> </span>
        <%= text_field_tag :last_name, params[:last_name] %>
      </p>
      <p>
        <span> <%= label_tag :email, 'Email' %>  </span>
        <%= text_field_tag :email, params[:email] %>
      </p>
      <p>
        <span> <%= label_tag :username, 'Username' %> </span>
        <%= text_field_tag :username, params[:username] %>
      </p>
      <p>
        <span> <%= label_tag :password, 'Password'  %> </span>
        <%= password_field_tag :password,  nil%>
      </p>
      <p>
        <span> <%= label_tag :password_confirmation , 'Confirm Password' %>  </span>
        <%= password_field_tag :password_confirmation, nil %>
      </p>
      <p style="padding-top: 15px">
        <span>&nbsp;</span>
        <%=  submit_tag "Sign Up", :disable_with => "Please wait...", :class => "submit", :style => 'margin: 0 0 0 0px;' %>
      </p>
    </div>
    <input type="hidden" value="<%=@login_url%>" name="login_url" />
<% end %>
 
